<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
	@page {
		margin: 0px;
	}
	.cabecalho {    
		background-color: #ebebeb;
		padding-top:15px;
		margin-bottom:30px;
	}
	.texto{
		font-size:12px;
	}
	.titulo-rel{
		font-size:24px;
		font-weight:300;
	}
</style>
<div class="cabecalho">
	<div class="row">
		<div class="col-sm-4">	
			 <img src="http://sis.ldadvocaciadf.com.br/img/banners/03.jpg" style="width: 100px; height:auto; margin-top:-10px; margin-left: 350px;">
		</div>
		<div class="col-sm-6">	
			<h4 class="titulo" style="margin-top:10px;"><b>LD Advocacia - Escritório de Advocacia</b></h4>
			<h6 class="titulo" style="margin-top:0px;">Qd. 07, Comércio Local 28, Sobradinho, Brasília/DF</h6>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<p class="titulo-rel" style="text-align: center;"><b>AO JUÍZO DA VARA xxx DA COMARCA DE xxxx </b></p> 
		<hr>
	</div>
	<div class="row">
		<p class="texto text-right" style="font-size: 15px; font-weight: bold;"> COM PRIORIDADE </p>
	</div>
	<div>
		<br><br>
		<p style="text-align: justify;">
          <b><%=nome%></b>  , <b>casado</b>, <b>Analista</b>, inscrito no CPF sob nº <b><%=cpf%></b>, residente e domiciliado em <b><%=rua%></b> , <b>Conjunto B, casa 18</b> , <b><%=bairro%></b> , <b><%=cidade%>/<%=estado%></b> , <b><%=cep%></b> , vem à presença de Vossa Excelência, por meio do seu Advogado, infra assinado, ajuizar
            em face de Rodrigo Machado, inscrito no CPF sob nº 929.857.691-91, residente e domiciliado no Condominio Imperio dos Nobres na Cidade de Sobradinho/DF , pelos motivos e fatos que passa a expor.
        </p>
	</div>


	

