<%- include ('../../partials/header.ejs'); %>
<div class="container-fluid">
    <br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1" style="margin-top: 13px;"></i> Clientes 
            <a href="/clientes/novo" class="btn btn-primary" style="float: right;">Novo Cliente</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="display" style="width:100%">
                    <thead> 
                    <tr>
                        <th>NOME</th>
                        <th>E-MAIL</th>
                        <th>TIPO</th>
                        <th>TELEFONE</th>
                        <th>AÇÕES</th>
                    </tr>   
                    </thead>
                    <tbody>		
                    <% clientes.forEach(cliente => { %>    
                        <tr>
                            <td class="text-left"><%= cliente.nome %></td>		
                            <td class="text-left"><%= cliente.email %></td>	
                            <td class="text-left"><%= cliente.tipopessoa %></td>			
                            <td class="text-right"><%= cliente.telefone %></td>				
                            <td class="text-center">
                                <a href="/clientes/editar/<%= cliente.id %>"><i class="fas fa-edit text-info"></i></a>
                                <a href='javascript:' onClick='javascript:Excluir("<%= cliente.id %>");deleteRow(this.parentNode.parentNode.rowIndex);'><i class="fas fa-trash text-danger ml-1"></i></a>
                                <a href="/processos/novo/<%= cliente.id %>"><i class="fas fa-folder-open text-success ml-1"></i></a>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>    
                    </table>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<script type="text/javascript">
function Excluir(val) {
var decisao = confirm("Deseja Excluir a Usuario Selecionada?");
    var situacao;
    var serializeDados = jQuery(this).serialize();    
    jQuery.ajax({
        url: '/clientes/excluir',
        type: 'POST',
        data: { id:val },
        dataType: 'json',
        success: function(response)
        {
            if (response.situacao == 1) {	                                            					
                alert("Sucesso! \nCliente excluido com sucesso.");
                $('#example').DataTable();
            } 
        }
    });
};
/* Excliuindo a linha */
function deleteRow(i){
    document.getElementById('example').deleteRow(i)
}
</script>
<%- include ('../../partials/footer.ejs'); %>

